PORT=8000

MAX_IMG_SIZE=2000000
ALLOW_IMG_TYPE=jpg|jpeg|png|gif
IMAGE_DEST=/app/images

JWT_SECRET_KEY=SUPER_SECRET_KEY

SHORT_TTL=1000
SHORT_LIMIT=1
LONG_TTL=60000
LONG_LIMIT=10

DATABASE_URL=postgresql://user:password@db:5432/testing?schema=public
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=testing